Package: clonaton
Priority: optional
Section: net
Maintainer: José Miguel Sánchez Alés <josem@iescdl.es>
Architecture: all
Version: 0.2.5-1
Depends: dnsmasq (>= 2.48) | isc-dhcp-server, atftpd | tftpd-hpa | tftpd | dnsmasq, syslinux-common, pxelinux, syslinux-efi, nginx-light | httpd, php-fpm | libapache2-mod-php, python3 (>= 3.3) | python-ipaddress, openssh-server, sudo, udpcast, nfs-kernel-server, bc
Suggests: syslinux-efi
Description: Servidor de arranques por red.
 Sirve sistemas operativos por red a los clientes, permitiendo personalizar
 el menú de arranque según cuál sea el cliente y su localización. Ofrece,
 además, un wrapper de clonezilla para la creación y restauración de
 imágenes.
Tag: implemented-in::bash,implemented-in::php
